body {
  margin: 0;
  font-family: Rubik;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Arbutus Slab", "Georgia";
}

* {
  box-sizing: border-box;
}

body {
  background-color: #ececec;
}

a {
  all: unset;
}

.home-link {
  display: flex;

  &:hover {
    cursor: pointer;
  }
}

.link-favorite {
  position: relative;

  .fav-count {
    font-family: "Arbutus Slab";
    position: absolute;
    top: 11px;
    right: 5px;
  }
}

.wrapper-app {
  margin: auto;
  width: 800px;
  min-height: 100vh;
  background-color: white;
  box-shadow: 0 0 10px rgba(15, 1, 1, 0.815);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  .input-search {
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 400px;

    input[type="text"] {
      padding: 10px;
      font-size: 16px;
      border: 1px solid #ccc;
      border-radius: 4px;
      outline: none;
      transition: border-color 0.3s ease;
      width: 80%;

      &::placeholder {
        color: #999;
      }

      &:focus {
        border-color: #0069d9;
      }
    }

    button[type="submit"] {
      width: 20%;
      height: 41px;
      font-size: 16px;
      color: #fff;
      background-color: #1976d2;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      transition: background-color 0.3s ease;
      margin-left: 3px;

      &:hover {
        background-color: #0051a8;
      }
    }
  }
}

.movie-list {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin: auto;
}

.movie-item {
  .content {
    display: flex;
    width: 400px;
    margin: 5px 0px;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    box-shadow: 0 2px 5px rgba(10, 1, 1, 0.815);
    font-size: 15px;

    .poster-link {
      img {
        height: 100%;

        &:hover {
          cursor: pointer;
          opacity: 0.7;
          transition: opacity 0.3s ease;
        }
      }
    }

    .details {
      width: 100%;
      padding: 5px;
    }
  }
}

.fav-item {
  .content {
    display: flex;
    width: 400px;
    margin: 5px 0px;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    box-shadow: 0 2px 5px rgba(10, 1, 1, 0.815);
    font-size: 15px;
    position: relative;

    .poster-link {
      img {
        height: 100%;

        &:hover {
          cursor: pointer;
          opacity: 0.7;
          transition: opacity 0.3s ease;
        }
      }
    }

    .details {
      width: 100%;
      padding: 5px;
    }

    .remove-btn {
      position: absolute;
      top: 0;
      right: 0;
    }
  }
}

.empty-favorites {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 200px;
  padding: 20px;
  border-radius: 4px;
  text-align: center;

  h2 {
    margin-bottom: 10px;
  }

  p {
    color: #888;
  }
}

.single-movie-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 20px;

  .single-movie {
    display: flex;
    width: 750px;
    box-shadow: 1px 1px 4px rgba(20, 1, 1, 0.815);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    .left-block {
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: #f2f2f2;
      width: 30%;
      border-bottom-left-radius: 10px;

      .your-fav {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 150px;
        height: 36.5px;
        border-radius: 5px;
        margin-top: 5px;
        background-color: #aeac0a73;
      }
    }

    .right-block {
      background-color: #dbdbdb;
      width: 70%;
      padding: 10px;
      border-bottom-right-radius: 10px;

      .movie-title {
        font-size: 28px;
        margin-bottom: 10px;
        font-weight: bold;
      }

      .movie-info {
        .movie-about {
          font-size: 22px;
        }

        .movie-row {
          display: flex;
          margin: 10px 0;
          line-height: 28px;

          div:first-child {
            flex-basis: 30%;
            background-color: #f2f2f2;
          }

          div:last-child {
            flex-basis: 70%;
            background-color: #e3e3e3;
          }
        }

        .movie-plot {
          p {
            font-size: 22px;
            margin: 0 0 10px;
          }
        }
      }
    }
  }
}

.profile {
  display: flex;
  justify-content: center;
  align-items: center;

  &-info {
    text-align: center;
  }

  .login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 180px;

    h1 {
      margin-bottom: 1rem;
    }

    input {
      width: 100%;
      padding: 0.5rem;
      margin-bottom: 0.5rem;
      border-radius: 5px;
      border: 1px solid black;
    }

    button {
      padding: 0.5rem 1rem;
      background-color: #007bff;
      color: #fff;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }
  }
}

